.footer {
  background: #f6f1ee;
  padding: 40px 60px;
  font-size: 14px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}

/* LEFT SIDE */
.left {
  max-width: 200px;
}

.contact p {
  margin-bottom: 8px;
}

.copy {
  margin-top: 40px;
  font-size: 12px;
}

/* RIGHT SIDE */
.right {
  width: 65%;
}

/* NEWSLETTER */
.newsletter {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.newsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  font-size: 13px;
}

.checkbox span {
  text-decoration: underline;
  cursor: pointer;
}

/* BUTTON */
.button {
  background: #e4572e;
  color: white;
  border: none;
  padding: 6px 18px;
  border-radius: 20px;
  cursor: pointer;
}

/* LINKS */
.links {
  display: flex;
  gap: 80px;
  margin-top: 30px;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 6px;
  cursor: pointer;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contactRow {
  display: flex;
  align-items: center;
  gap: 10px; 
}
.callText {
  font-weight: 600;
}
.socialRow {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 30px;
  gap:20px;
}
.icons {
  display: flex;
  gap: 14px;
}
.brandText {
  font-size: 15px;
  white-space: nowrap;
  row-gap: 50px;
}
.mailRow {
  display: flex;
  align-items: center;
  gap: 10px; 
}
.mailText {
  font-weight: 600;
}
.brand{
  font-weight:900;
  font-size:1.7rem;
  font-style:italic;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
