.navbar {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  overflow-x: hidden;
}

.hrstyle {
  color: #ff4d00;
}

.topStrip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

/* LOGOS */
.brandRow {
  display: flex;
  align-items: center;
  gap: 20px;
}

.brandLeft {
  display: flex;
  align-items: center;
}

.brandKids {
  display: flex;
  align-items: center;
}

/* ACTION ICONS */
.actions {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.actionItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.actionItem:hover {
  background: #ff4d00;
  color: #fff;
  padding: 6px 6px;
  border-radius: 999px;
}

.icon {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  object-fit: contain;
  flex-shrink: 0;
}

.iconBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #000;
  text-decoration: none;
  padding: 4px 6px; 
  border-radius: 999px;
}

.iconBtn:hover {
  background: #ff4d00;
  color: #fff;
}

.iconTextcall {
  font-size: 14px;
  font-weight: bold;
}

.iconText {
  font-size: 14px;
}

.divider {
  width: 1.5px;
  height: 22px;
  background: #111010;
}

/* MENU BUTTON */
.menuBtn {
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ff4d00;
  padding: 4px;

}


/* DESKTOP NAV  */
.mainNav {
  display: flex;
  gap: 28px;
  padding: 14px 16px;
}

.mainNav a {
  text-decoration: none;
  color: #ff4d00;
  padding: 8px 18px;
  border-radius: 999px;
}

.mainNav a:hover {
  background: #ff4d00;
  color: #fff;
}

.active {
  background: #ff4d00;
  color: #fff !important;
}

/* MOBILE MENU */
.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 20px;
  border-top: 1px solid #eee;
}

.mobileMenu a {
  text-decoration: none;
  color: #ff4d00;
  font-size: 18px;
}


@media (max-width: 992px) {
.mainNav{
  display: none;
}
  .actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }

} 

